<h1>Edition d'un article du site</h1>



<%= semantic_form_for(@article) do |f| %>
    
    <% f.inputs do %>
        <%= f.input :title, :as => :string %>
        <%= f.input :content, :as => :text %>
        <%= f.input :category, :as => :select, :collection => Category.all.collect { |c| [ c.name, c.id ] } %>
    <% end %>

    
    <div class="actions">
      <%= f.submit "Editer l'article" %>
    </div>
<% end %>