<h2>Affichage des trois derniers articles</h2>

<% @articles.each do |article| %>

    <h3><%= article.title %></h3>
    
    <p><%= article.content %></p>
	
	<p class="infopost">
		<%= link_to "Voir l'article complet", article_path(article.id) %><br/>
		de :  <%= article.user.pseudo %> le : <%= article.created_at %> | <%= article.category.name %>
	</p>
	
    <hr />
    
<% end %>