<h2>Affichage des trois derniers articles</h2>

<p><a href="articles/new"><%= @addarticle %></a></p>


<% @articles.each do |article| %>

    <h3><%= article.title %></h3>
    
    <p><%= article.content %></p>
	
	<p class="infopost">
	
		<%= link_to "Voir l'article complet", article_path(article.id) %><br/>
		
		de :  <%= article.user.last_name %> le : <%= article.created_at %>
	</p>
	
    <hr />
    
<% end %>