<h2><%= @article.title %></h2>

<p><%= @article.content %></p>
	
<p class="infopost">
	<a href="<%= @article.title %>">R&eacute;agir sur le forum</a><br />
	de :  <%= @article.user.pseudo %> le : <%= @article.created_at %>
</p>