<h2><%= @article.title %></h2>

<p><%= @article.content %></p>
	
<p class="infopost">
	<a href="">R&eacute;agir sur le forum</a><br />
	<a href="/categories/<%= @article.category.id %>"><%= @article.category.name %></a>
	de :  <%= @article.user.last_name %> le : <%= @article.created_at %>
</p>