<div id="center_it">
  <h1>Nouveau Topic</h1>
  <%= semantic_form_for([@category, @topic]) do |f| %>

      <% f.inputs do %>
          <%= f.input :title %>
          <%= f.input :content %>
          <%= f.input :description, :as => :text %>
      <% end %>

      <% f.buttons do %>
          <%= f.commit_button %>
      <% end %>

  <% end %>
</div>