<h2><%= @topic.title %></h2>
<p>Par <%= @topic.user.pseudo %></p>
<p><%= @topic.description %></p>
<p><%= @topic.content %></p>

<br/> <%= link_to "Répondre à ce topic", new_topic_post_path(@topic.id) %><br/>


<% @posts.each do |post| %>

    <h3><%= post.content %></h3>


    <p class="infopost">

      de :  <%= post.user.pseudo %> le : <%= post.created_at %>

	</p>

    <hr />
<% end %>