<h2><%= @topic.title %></h2>
<p><%= @topic.description %></p>
<p><%= @topic.content %></p>

<% @posts.each do |post| %>

    <h3><%= post.content %></h3>


    <p class="infopost">

		<%= link_to "Voir le post", post_path(post.id) %><br/>
      de :  <%= post.user.pseudo %> le : <%= post.created_at %>

	</p>

    <hr />
<% end %>