<h2>Affichage des trois derniers posts</h2>

<% @posts.each do |post| %>
    <h3>
      <%= post.title %>
    </h3>
    <p><%= post.content %></p>

<p class="infopost"><a href="<%= post.title %>">R&eacute;agir sur le forum</a><br />
de :  <%= post.author %> le : <%= post.created_at %></p>
    <hr />
<% end %>