<div id="center_it">
  <h1>Sign in</h1>

  <%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <% f.inputs do %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.input :remember_me, :as => :boolean %>
      <% end %>

      <p><%= f.submit "Sign in" %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>