<h2><%= @category.name %></h2>

<%= link_to "Créer un topic dans cette catégorie", new_category_topic_path(@category.id) %><br/>



<% @topics.each do |topic| %>

    <h3><%= topic.title %></h3>
    <p><%= topic.description %></p>
    <p><%= topic.category.name %></p>

	<p class="infopost">

		<%= link_to "Voir le topic", category_topic_path(@category.id,topic.id) %><br/>
		de :  <%= topic.user.pseudo %> le : <%= topic.created_at %>
	</p>

    <hr />
<% end %>